* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

img {
    width: 30vw;
    height: 40vh;
    object-fit: cover;
}

.blog-footer {
    text-align: center;
}

/* ARTICLES */
.articleImage {
  overflow: hidden;
  height: 125px;
  width: 150px;
  object-fit: cover;
  padding-top: 50px;
  padding-right: 16px;
  margin: 0;
​
}
​
#articleOne {
  background-image: url('/images/a1.png')
}
​
.sub-text {
  display: inline-block;
}
​
.float-right {
  float: right;
}
