* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

img {
    width: 30vw;
    height: 40vh;
    object-fit: cover;
}

.blog-footer {
    text-align: center;
}

/* ARTICLES */
.articleImage {
  overflow: hidden;
  height: 125px;
  width: 150px;
  object-fit: cover;
  padding-top: 50px;
  padding-right: 16px;
  margin: 0;
}
​
#articleOne {
  background-image: url('/images/a1.png')
}
​
.sub-text {
  display: inline-block;
}
​
.float-right {
  float: right;
}

#logo-text {
  font-family: 'Lato', sans-serif;
  font-size: 2.25rem;
  color: #09A4d6;
}

hr {
  margin: 0;
  border-color: #6D757C;
  text-align: center;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #09A4d6;
  font-size: 1rem;
}

.pb-3, .py-3 {
  padding-bottom: .5rem;
}

.article-info h1{
  color: #151414;
  font-size: 24px;
}

.article-info img {
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
