* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

img {
    width: 30vw;
    height: 40vh;
    object-fit: cover;
}

.blog-footer {
    text-align: center;
}

#exampleModalLabel {
  color: #4A4949;
  font-weight: bold;
  font-size: 32px;
  font-family: 'Lato', sans-serif;
}
.mc-field-group {
  color: #151414;
  text-align: left;

}

.modalBodyText {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
}

.disclaimer {
  font-size: 16px;
  color: #151414;
  text-align: left;
}

input {
  background-color: #FFFFFF;
  border-color: #6D757C;
  margin-bottom: 20px;
}
label {
  margin-bottom: 0.5px;
}
input, label {
  display: block;
  text-align: left;
}

#mc-embedded-subscribe, #closeButton {
  background-color: #A9A9A9;
  border: none;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  text-align: right;
  display: inline-block;
  margin-right: 10px;
}

#closeButton {
  clear: both;
    background-color: rgb(170, 170, 170);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    border-width: 0px;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    margin: 0px 5px 10px 0px;
    padding: 0px 22px;
    text-decoration: none;
}

h3 {
  font-size: 1.25rem;
}
